body {
  font-family: Fira Sans, Open Sans, Helvetica, Georgia, Arial, sans;
  font-size: 100%;
}

code {
  font-family: Monaco, monospace;
  font-size: 75%;
}

header {
  font-family: Monaco, monospace
}